node_modules
.env
.env.backup
.env.local
.env.production

# Laravel specific
/storage/*.key
/public/hot
/public/storage
/storage/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
database/database.sqlite
